//
//  Development.xcconfig
//  IranUnchained
//
//  Created by Ivan Lele on 18.03.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: General
SLASH=/

// MARK: Intro
PRIVACY_POLICY_URL = "https:${SLASH}/www.iranians.vote/privacy-policy-verify-2024.html"
TERMS_OF_USE_URL = "https:${SLASH}/www.iranians.vote/terms-of-use-verify-2024.html"
PASSPORT_KYC_URL = "https:${SLASH}/api.stage.freedomtool.org"
RARIMO_CORE_URL = "https:${SLASH}/rpc-api.node1.mainnet-beta.rarimo.com"
TARGET_CHAIN_RPC_URL = "https:${SLASH}/rpc.qtestnet.org"
ISSUER_URL = "https:${SLASH}/issuer.polygon.robotornot.mainnet-beta.rarimo.com"
REGISTRY_EVM_CONTRACT_ADDRESS = "0xC97c08F18F03bF14c7013533A53fbCe934E5Cb1e"
PROPOSER_EVM_ADDRESS = "0xb6407f0bb10fDC61863253e0ca36531Fc6D4aedE"
REGISTRY_ENTRY_TYPE = "Simple Registration"
PROOF_VERIFICATION_RELAYER_URL = "https:${SLASH}/api.stage.freedomtool.org"
VOTING_CREDENTIAL_TYPE = "urn:uuid:f2c8db83-7e1b-493d-a65e-9939d643e79d"
